{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<h1>Edit Entry</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <button type="submit" class="mt-4 bg-teal-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300">
                    Edit Note Entry
                </button>
            </td>
        </tr>
    </table>
</form>

{% endblock %}