{% extends 'base.html' %}
{% load static %}
{% block meta %}

<title>Study Together with Notes</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
  <div class="p-2 mb-6 relative">
    <div class="relative grid grid-cols-1 z-30 md:grid-cols-2 gap-8">
      {% include "card_info.html" with title='Name' value=name %}
    </div>
    <p class="mt-6 border-b-2 border-gray-400"></p>
    <p class="mt-2 border-b-2 border-gray-400"></p>
  <div class="flex justify-end mt-6 mb-6">
        <a href="{% url 'main:create_note_entry' %}" style="background-color: rgb(136, 195, 193);", class="text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105"> 
          <i class="fa fa-plus mr-2"></i> Add New Note Entry
        </a>
    </div>
    
    {% if not notes_entries %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <img src="{% static 'image/no-data.png' %}" alt="No Data Entered" class="w-32 h-32 mb-4"/>
        <p class="text-center text-gray-600 mt-4">There is no note entries in this page</p>
    </div>
    {% else %}
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
        {% for note_entry in notes_entries %}
            {% include 'card_entry.html' with note_entry=note_entry %}
        {% endfor %}
    </div>
    </div>
    <p class="mt-6 border-b-2 border-gray-400"></p>
    <p class="mt-2 border-b-2 border-gray-400"></p>
    <div class="mt-5 px-3 mb-4">
      <h1 class="text-gray-600 text-left">Last Login: {{last_login}}</h1>
    </div>
    {% endif %}

</div>
{% endblock content %}