{% extends 'base.html' %}
{% block content %}

<h1>Study Together With Notes</h1>

<h5> Name: {{ name }} </h5>
<h5> Class: {{ class}} </h5>

{% if not notes_entries %}
<p>There are no note data in Study Together With Notes</p>
{% else %}
<table>
    <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Price</th>
    </tr>

    {% comment %} This is how to display note data
    {% endcomment %} 
    {% for note_entry in notes_entries %}
    <tr>
        <td>{{note_entry.name}}</td>
        <td>{{note_entry.subject}}</td>
        <td>{{note_entry.description}}</td>
        <td>{{note_entry.price}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_note_entry' %}">
  <button>Add New Note Entry</button>
</a>

<a href="{% url 'main:logout' %}">
    <button>Logout</button>
</a>
<h5>Last login session: {{ last_login }}</h5>

{% endblock content %}
